@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flowbite';

* {
    font-family: 'Arial', sans-serif;
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    min-width: 500px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
  

@media (max-width: 1360px) {
    .NavBar_res {
        display: none;
}
    .NavBar_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .login_button {
        display: none;

    }
    .name_user_and_sidebar {
        display: flex;
        justify-content: end;
    }
  }

  @media (max-width: 860px) {
    .banner_container {
        height: 600px;

    }
  }

  @media (max-width: 560px) {
    .banner_container {
        height: 700px;

    }
  }

@media (max-width: 1000px) {
    
    .NavBar_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 1140px){
    .searchbar_field {
        display:none;
    }
}

@media (max-width: 670px){
    .name_user {
        display: none;
    }
}


@keyframes colorWave {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.color-wave {
    background: linear-gradient(270deg, #fffcfb, #ff5b45); /* Only two colors */
    background-size: 200% 200%; /* Adjusted for smoother oscillation */
    animation: colorWave 5s ease-in-out infinite alternate; /* Continuous back and forth */
    color: black;
    border-radius: 0.375rem; /* Rounded corners for styling */
}
