.embla {
    position: relative;
  }
  
  .embla_viewport {
    overflow: hidden;
  }
  
  .embla_container {
    display: flex;
  }
  
  .embla_slide {
    flex: 0 0 100%;
    min-width: 0;
    position: relative;
  }
  
  .embla_slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .embla_prev, .embla_next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 10;
    border-radius: 10px;
  }
  
  .embla_prev {
    left: 20px;
  }
  
  .embla_next {
    right: 20px;
  }
  
  @media (max-width: 768px) {
    
  }
  