.name-input-football{
    border: 1px solid rgba(182, 173, 173, 0.644);
    border-radius: 16px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    transition: border-color 0.2s ease;
}

.name-input-football:focus {
    border-color: #22c55e; 
    outline: none;
}

