.tableAuto {
  width: 100%;
  border-collapse: collapse;
}

.tableAuto thead {
  background-color: #333;
  color: #fff;
}

.tableAuto th,
.tableAuto td {
  border: none; /* Remove borders */
  padding: 1rem;
  text-align: left;
}

.tableAuto th {
  background-color: #444;
  font-weight: bold;
}

.tableAuto tbody tr {
  background-color: #222;
  color: #fff;
}

.tableAuto tbody tr:nth-child(even) {
  background-color: #2a2a2a;
}

.tableAuto tbody tr:hover {
  background-color: #555;
}

.tableAuto a {
  color: #4a90e2;
  text-decoration: none;
}

.tableAuto a:hover {
  text-decoration: underline;
}

.textRed500 {
  color: #f56565;
}
